<template>
  <div :class="{fill: fill}"></div>
</template>

<script>
export default {
  props:{
    fill: Boolean
  }
};
</script>

<style scoped lang="scss">
div {
  position: relative;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 200px;

  &::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #ffffff1a;
  }

  .fill{
    flex: 1;
    height: auto;
    &::after{
      top: auto;
      bottom: 0;
      transform: none;
    }
  }
}
</style>
