<template>
  <div class="example">
    <apexchart
      ref="donut"
      width="100%"
      type="donut"
      :options="options"
      :series="series"
    ></apexchart>
  </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  name: "DonutExample",
  props: ['counter'],
  setup(props){
    const store = useStore();

    store.dispatch('yandex/getData', {id: props.counter})

    return {
      series: computed(() => store.getters['yandex/getMF'](props.counter).series),
      options: computed(() => ({labels: store.getters['yandex/getMF'](props.counter).labels}))
    }
  }
};
</script>