<template>
  <nav>
    <div
      class="contentWrapper"
      :style="{
        '--max_content_width': `${content_width}px`,
        '--color-active': colorActive
      }"
    >
      <div class="item" v-for="(item, index) in items" :key="index">
        <router-link active-class="currPage" :to="item.href">
          {{ item.label }}
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar_1",
  label: "Навигация (v1)",
  image: "Navbar_1",
  props: {
    items: {
      type: Array,
      editType: "ArrayOfObj",
      init_val: [{ "label": "Главная", "href": "/" }],
      fields: [{label: 'Название', key:"label"}, {label: 'Ссылка', key: "href"}],
      group: "Содержимое",
      label: "Элементы меню",
    },
    content_width: {
      type: Number,
      editType: "String",
      group: "Макет",
      label: "Максимальная ширина контента",
      init_val: 960,
    },
    colorActive: {
      type: String,
      editType: "String",
      init_val: "#2D9CDB",
      label: "Цвет подчёркивания",
      group: "Палитра",
    }
  },
};
</script>

<style scoped lang="scss">
nav {
  height: 50px;
  position: sticky;
}
.contentWrapper {
  max-width: var(--max_content_width);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;

  .item{
    display: flex;
    align-items: center;
    height: 100%;

    a{
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
      padding: 0 16px;
      border-bottom: 2px solid #00000000;
      transition: all 0.3s ease;
      &.currPage{
        border-bottom: 2px solid var(--color-active);
      }
    }
  }
}
</style>
