<template>
  <NavBar v-if="$route.meta.adminNav"/>
  
  <main
    :class="{
      navBarExpanded,
      fullpage: !$route.meta.adminNav
    }"
  >
    <PageHeader :name="page.page_name" v-if="$route.meta.adminNav && !$route.meta.removeHeader"/>
    <div class="container">
      <router-view :setName="setName"></router-view>
    </div>
  </main>
</template>

<script>
import NavBar from "./components/NavBar";
import PageHeader from "./components/PageHeader";
import { useStore } from 'vuex'
import { computed, reactive } from 'vue';

export default {
  components: { NavBar, PageHeader },
  setup(){
    const store = useStore()
    const page = reactive({
      page_name: undefined
    })
    return {
      navBarExpanded: computed(()=> store.state.navigation.navOpened),
      page
    }
  },
  methods: {
    setName(name){
      this.page.page_name = name;
    }
  }
}
</script>

<style lang='scss'>
@font-face{
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

body, html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;

  font-family: "Rubik";
}

p{
  padding: 0;
  margin: 0;
}

#app {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1F3F3;
}

main{
  margin-left: 44px;
  transition: 0.3s ease all;

  &.navBarExpanded{
    margin-left: 200px;
  }

  &.fullpage{
    margin-left: 0;

    .container{
      padding: 0;
      min-height: 100vh;
    }
  }
}

.container{
  padding: 0 8px;
  min-height: calc(100vh - 50px);
}

:root{
  --max_content_width: 960px;
  --primary-color: #2D9CDB;
  --primary-dark-1-color: #187EB8;
  --primary-dark-2-color: #0C6294;

  --secondary-color: #E97979;
  --secondary-dark-1-color: #C95A5A;
  --secondary-dark-2-color: #853A3A;
  --secondary-light-1-color: #F4A2A2;
  --secondary-light-2-color: #FFD7D7;
}
</style>
